In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:

df=pd.read_csv("train_loanPrediction.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'train_loanPrediction.csv'

In [135]:
df.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0.0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3.0,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2.0,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1.0,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2.0,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2.0,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2.0,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0.0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2.0,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0.0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1.0,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0.0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0.0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0.0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0.0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1.0,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0.0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2.0,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1.0,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0.0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0.0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2.0,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0.0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2.0,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1.0,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,LP001095,Male,No,0.0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1.0,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0.0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3.0,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
35,LP001106,Male,Yes,0.0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
36,LP001109,Male,Yes,0.0,Graduate,No,1828,1330.0,100.0,NaN,0.0,Urban,N
37,LP001112,Female,Yes,0.0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y
38,LP001114,Male,No,0.0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y
39,LP001116,Male,No,0.0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y
40,LP001119,Male,No,0.0,Graduate,No,3600,0.0,80.0,360.0,1.0,Urban,N
41,LP001120,Male,No,0.0,Graduate,No,1800,1213.0,47.0,360.0,1.0,Urban,Y
42,LP001123,Male,Yes,0.0,Graduate,No,2400,0.0,75.0,360.0,NaN,Urban,Y
43,LP001131,Male,Yes,0.0,Graduate,No,3941,2336.0,134.0,360.0,1.0,Semiurban,Y
44,LP001136,Male,Yes,0.0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y
45,LP001137,Female,No,0.0,Graduate,No,3410,0.0,88.0,NaN,1.0,Urban,Y
46,LP001138,Male,Yes,1.0,Graduate,No,5649,0.0,44.0,360.0,1.0,Urban,Y
47,LP001144,Male,Yes,0.0,Graduate,No,5821,0.0,144.0,360.0,1.0,Urban,Y
48,LP001146,Female,Yes,0.0,Graduate,No,2645,3440.0,120.0,360.0,0.0,Urban,N
49,LP001151,Female,No,0.0,Graduate,No,4000,2275.0,144.0,360.0,1.0,Semiurban,Y

In [111]:
df1=df.dropna()

In [112]:
df2=df1.drop(["Loan_ID"],axis=1)

In [113]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [114]:
df2['LGender'] = le.fit_transform(df2['Gender'].values.reshape(-1,1).ravel())
df2['LMarried']=le.fit_transform(df2['Married'].values.reshape(-1,1).ravel())
df2['LSelf_Employed']=le.fit_transform(df2["Self_Employed"].values.reshape(-1,1).ravel())
#df2['LLoan_Status']=le.fit_transform(df2["Loan_Status"].values.reshape(-1,1).ravel())
df2['LEducation']=le.fit_transform(df2["Education"].values.reshape(-1,1).ravel())
df2['LProperty_Area']=le.fit_transform(df2["Property_Area"].values.reshape(-1,1).ravel())

In [115]:
df2=df2.drop(["Self_Employed"],axis=1)
#df2=df2.drop(["Loan_Status"],axis=1)
df2=df2.drop(["Property_Area"],axis=1)
df2=df2.drop(["Married"],axis=1)
df2=df2.drop(["Gender"],axis=1)
df2=df2.drop(["Education"],axis=1)

In [116]:
from sklearn.linear_model import LogisticRegression

In [120]:
x=df2.iloc[:,df2.columns !='Loan_Status']
y=df2.iloc[:,df2.columns =='Loan_Status']

In [121]:
x.head(1)

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,LGender,LMarried,LSelf_Employed,LEducation,LProperty_Area
1,1.0,4583,1508.0,128.0,360.0,1.0,1,1,0,0,0

In [122]:
y.head(1)

  Loan_Status
1           N

In [123]:
lr=LogisticRegression(class_weight='balanced')

lr.fit(x,y)
y_predict=lr.predict(x)

c:\users\harshini reddy\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [124]:
from sklearn.metrics import accuracy_score

In [125]:
accuracy_score(y,y_predict)

0.775

In [126]:
df2.head(7)

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,LGender,LMarried,LSelf_Employed,LEducation,LProperty_Area
1,1.0,4583,1508.0,128.0,360.0,1.0,N,1,1,0,0,0
2,0.0,3000,0.0,66.0,360.0,1.0,Y,1,1,1,0,2
3,0.0,2583,2358.0,120.0,360.0,1.0,Y,1,1,0,1,2
4,0.0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,2
5,2.0,5417,4196.0,267.0,360.0,1.0,Y,1,1,1,0,2
6,0.0,2333,1516.0,95.0,360.0,1.0,Y,1,1,0,1,2
7,3.0,3036,2504.0,158.0,360.0,0.0,N,1,1,0,0,1

In [127]:
lr.predict([[3.0,3036,2504.0,158.0,360.0,0.0,1,1,0,0,1]])[0]

'N'

In [128]:
import pickle

In [129]:
with open('project1.pkl','wb') as f:
    pickle.dump(lr,f)

In [131]:
df2['Loan_Status'].value_counts()

Y    332
N    148
Name: Loan_Status, dtype: int64

In [136]:
df2.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,LGender,LMarried,LSelf_Employed,LEducation,LProperty_Area
1,1.0,4583,1508.0,128.0,360.0,1.0,N,1,1,0,0,0
2,0.0,3000,0.0,66.0,360.0,1.0,Y,1,1,1,0,2
3,0.0,2583,2358.0,120.0,360.0,1.0,Y,1,1,0,1,2
4,0.0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,2
5,2.0,5417,4196.0,267.0,360.0,1.0,Y,1,1,1,0,2

In [133]:
lr_model=pickle.load(open('project1.pkl','rb'))

lr_model.predict([[0.0,3000,0.0,66.0,360.0,1.0,1,1,1,0,2]])[0]

'Y'